<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDIT</title>
  </head>
  <body>
    <form method="POST" action="/products/<%= product.id %>?_method=PUT">
      <label for="name">Product NAME</label>
      <input type="text" name="name" id="name" value="<%= product.name %> " />
      <label for="productPrice">Product Price</label>
      <input type="text" name="price" id="price" value="<%= product.price %> " />
      <select name="category" id="category">
        <% for ( let category of categories) { %>
        <option value="<%= category %>" <%= product.category === category ? 'selected':'' %> ><%= category %></option>
        <% } %>
      </select>
      <br />
      <button>Update</button>
    </form>
  </body>
</html>
